# Frontend API Configuration
VITE_API_URL=https://hambak-tech-services.onrender.com/api

# Backend Configuration (for backend deployment/Render)
PORT=3000
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRE=30d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
